.navbar {
  background-color: #026aa7;
  padding: 10px;
  text-align: center;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffd700;
}